fastapi==0.111.0
uvicorn[standard]==0.30.1
motor==3.5.1
pymongo==4.8.0
dnspython==2.6.1            # required for MongoDB Atlas mongodb+srv:// URIs
pydantic==2.7.4
pydantic-settings==2.3.4
python-jose[cryptography]==3.3.0
bcrypt==4.2.0
python-multipart==0.0.9
email-validator==2.2.0
